.homebody {
    position: absolute;
    left: 20rem;
    top: 6rem;
    width: 69rem;
     /* background-color: #c1e7f8;  */
    margin-bottom: 0%;
  }
  .btn {

    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(68, 77, 156);
  }
.Search-btn
  {
color:rgb(255, 255, 255);
    background-color: rgb(68, 77, 156);
  }

  .doctorss{
    border: 1px solid grey;
    box-shadow: 0px 6px 34px -3px rgba(0, 0, 0, 0.5);
}

.daytime{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:20px;
  margin-right: 20px;
  
}
.time{
  font-weight: bold;
}