<div class="landingbody"> <nav>
    <div class="logo">
      <img src="\assets\logoname.png" alt="Logo">
    </div>
    <ul>
      <li><a href="#" routerLink="/services" >Services</a></li>
      <li><a href="#" routerLink="/aboutus" >About Us</a></li>
      <li><a href="#contact" >Contact Us</a></li>
      <li><button class="joinus-button" routerLink="/register">Join Us</button></li>

    </ul>
  </nav>
  <div class="content-items">

    <h1 class="landing-heading">Quality Healthcare at Your Fingertips</h1>

    <p class="landing-description">

      Welcome to our revolutionary medical application, where convenience meets exceptional care. Finding a trusted
      healthcare professional is essential for your well-being. With our user-friendly platform, you can effortlessly
      connect with a network of trusted healthcare professionals. Whether you're seeking a primary care physician,
      specialist, or expert advice, our application puts the power of health in your hands.

    </p>

  </div>
  <button type="button" class="book-button" routerLink="/login">Book Apointment</button>

</div>
<div class="services-container">
  <app-services></app-services>
</div>
<app-aboutus></app-aboutus>
<section id="contact">
  <h2>Contact Us</h2>
  <div class="contact-info">
    <p><strong>Phone:</strong> (123) 456-7890</p>
    <p><strong>Email:</strong> info@example.com</p>
    <p><strong>Address:</strong> 123 Main Street, City, Country</p>
    </div>
  </section>
  
