<link href="ratingbody.component.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="homebody">
  <div class="row align-items-start p-3">
    <div class="col align-self-center">
      <h4>List of Appointments</h4>
    </div>
    <div class="col align-self-center">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Doctors" [(ngModel)]="searchDoctorName">
        <button class="btn btn-primary" type="button" (click)="searchDoctors()">Search</button>
      </div>
    </div>
  </div>

  <div class="doctors">
    <div class="row align-items-start add-doctor p-3" *ngFor="let appointment of appointments; let i = index">
      <div class="col align-self-center">
        <div class="mb-3">
          <label class="form-label">Doctor Name</label>
          <input type="text" class="form-control" readonly [(ngModel)]="appointment.doctorName" />
        </div>
      </div>
      <div class="col align-self-center">
        <div class="mb-3">
          <label class="form-label">Specialization</label>
          <input type="text" class="form-control" readonly [(ngModel)]="appointment.doctorSpecialization">
        </div>
        <div class="mb-3">
          <label class="form-label">Location</label>
          <input type="text" class="form-control" readonly [(ngModel)]="appointment.doctorLocation">
        </div>
      </div>
      <div class="col align-self-center">
        <div class="mb-3">
          <label class="form-label">Appointment Date</label>
          <input type="text" class="form-control" readonly [(ngModel)]="appointment.appointmentDate">
        </div>
        <div class="mb-3">
          <label class="form-label">Appointment Time</label>
          <input type="text" class="form-control" readonly [(ngModel)]="appointment.appointmentTime">
        </div>
      </div>
      <div class="col align-self-center">
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-success" (click)="openpopup(i)">Rate</button>
        </div>
      </div>
      <div class="overlay" *ngIf="show && selectedAppointmentIndex === i">
        <div class="content">
          <div class="close" (click)="closepopup()">
            &times;
          </div>
          <div>
            <div class="rate bg-secondary py-3 text-white mt-3">
              <div class="rating"> <input type="radio" name="rating" value="5" id="5">
                <label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4">
                <label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3">
                <label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2">
                <label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1">
                <label for="1">☆</label>
              </div>
              <div class="review-box px-4 mt-3">
                <label for="review"></label>
                <textarea id="review" class="form-control" rows="3" placeholder="Write your experience"></textarea>
              </div>
              <div class="buttons px-4 mt-0">
                <button class="btn btn-warning btn-block rating-submit">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="script.js"></script>

</div>