<div class="serv">
    <link rel="stylesheet" type="text/css" href="services.component.css">
  
    <section class="services-section">
  
      <div class="container">
  
        <h2>Our Services</h2>
  
        <div class="services-grid">
  
          <div class="service-item">
  
            <img src="\assets\find.jpg" alt="Service Icon">
  
            <h3>Find Doctors</h3>
  
            <p>Discover a wide range of experienced doctors across various specialties. Easily search, compare, and book appointments online.</p>
  
          </div>
  
          <div class="service-item">
  
            <img src="\assets\Virtual.jpg" alt="Service Icon">
  
            <h3>Book Doctors</h3>
  
            <p> Book Doctors: Seamlessly schedule appointments with your chosen doctors through our user-friendly booking system. Save time and effort by effortlessly securing your desired time slot without the hassle of traditional appointment booking methods..</p>
  
          </div>
  
          <div class="service-item">
  
            <img src="\assets\Appoinment.png" alt="Service Icon">
  
            <h3>Rate Doctors</h3>
  
            <p>Share your valuable feedback and experiences by rating the doctors you have consulted. Help fellow users make informed decisions while also providing doctors with constructive insights to enhance their services.</p>
  
          </div>
  
          <div class="service-item">
  
            <img src="\assets\Review.jpg" alt="Service Icon">
  
            <h3>view Appointments</h3>
  
            <p>Access a convenient overview of all your scheduled appointments in one place. Stay organized and never miss an important medical appointment with our intuitive appointment management feature.</p>
  
          </div>
  
        </div>
  
      </div>
  
    </section>
  </div>
  
  
   
  
  