<div id="dialogOverlay" class="dialog-overlay">
    <div id="dialogBox" class="dialog-box">
      <h2 class="dialog-title">Rate</h2>
      <div class="rate bg-secondary py-3 text-white mt-3">
        <div class="rating">
          <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
          <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
          <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
          <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
          <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
        </div>
        <div class="buttons px-4 mt-0">
          <button class="btn btn-warning btn-block rating-submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
  
  <button class="book-button" onclick="openDialog()">Book Appointment</button>
  