<div class="background">
    <div class="hhh">
      <div class="ee">
      <div class="line">
      <div class="logo">
        <img class="logoo" src="/assets/logoname.png" alt="App Logo"  >
      </div>
    </div>
    
    <div class="rounded-circle" id="profile">
      <img src="/assets/profile.jpg"/>
    </div>
    
    <div class="line3">
      <div class="usernam">
        <input type="text" placeholder="Username" />
        
      </div>
        <br />
        <div class="email">
            <input type="text" placeholder="email" />
            
          </div>
          <br/>
        <div class="pass-w">
          <input type="password" placeholder="Password" />
          </div>
    </div>
    <div class="line4">
      <button class="register-button">Register</button>
    </div>
    </div>
    </div>
    </div>
    
    