.homebody {
    position: absolute;
    left: 20rem;
    top: 6rem;
    width: 69rem;
    background-color: #c1e7f8;
    margin-bottom: 0%;
  }
  
  .btn {
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
  }
  
  .Search-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(68, 77, 156);
  }
  
  .edit-btn1,
  .edit-btn2,
  .del-btn1,
  .del-btn2,
  .add-btn {
    width: 30%;
    height: 40px;
    border-radius: 20px;
  }
  
  .add-btn {
    margin-right: 5px;
  }
  
  .ed-del .d-flex.justify-content-center {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ed-del .d-flex.justify-content-center .btn {
    margin-bottom: 5px;
  }
  
  @media only screen and (max-width: 992px) {
    .homebody {
      position: static;
      width: auto;
      margin: 0 auto;
      padding: 10px;
      left: 0;
      top: 0;
    }
  
    .btn,
    .add-btn,
    .edit-btn1,
    .edit-btn2,
    .del-btn1,
    .del-btn2 {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .add-btn {
      margin-right: 0;
    }
  
    .ed-del .d-flex.justify-content-center {
      margin-top: 20px;
    }
  }
  